<!--Footer başı-->
<footer>
    <div class="container text-white">
        <div id="footer-box">
            <div class="row">
                <p class="col-12 fw-light text-center text-lg-start text-white mb-3">Sterlin Investment - Tüm
                    Hakları
                    Saklıdır.</p>
                <hr class="divider-mobile d-sm-none mx-auto">
                <div id="footer-nav" class="col-lg-6 col-xs-12 text-center text-lg-start">
                    <ul>
                        <li><a href="">Hakkımızda</a></li>
                        <li><a href="">Reklam</a></li>
                        <li><a href="">Yardım</a></li>
                        <li><a href="">Künye</a></li>

                    </ul>
                    <ul>
                        <li><a href="">Api</a></li>
                        <li><a href="">Blog</a></li>
                        <li><a href="">Portföy</a></li>
                        <li><a href="">İletişim</a></li>
                    </ul>
                </div>
                <div class="col-lg-6 col-xs-12 text-center text-lg-end">
                    <div class="download-wrapper">
                        <a href="#">
                            <div class="app-download play"></div>
                        </a>
                        <a href="#">
                            <div class="app-download app"></div>
                        </a>
                    </div>
                    <div class="social-icons">
                        <div class="social-icon">
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </div>
                        <div class="social-icon">
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </div>
                        <div class="social-icon">
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p class="disclaimer">Risk Açıklaması: Finansal araçlar ve/veya kripto paralarla işlem
                        yapmak yüksek seviyede risk içermektedir ve yatırım <br>miktarınızın bir kısmını veya
                        tamamını kaybetmenize sebep olabilir, bu sebeple tüm yatırımcılar için uygun değildir.
                        <br>Kripto para fiyatları aşırı derecede hareketlidir ve finansal haberler, politik
                        olaylar ve düzenleme kurumları gibi <br>konulardan kolaylıkla etkilenir. <br><br>
                        Burada yer alan yatırım bilgi, yorum ve tavsiyeleri yatırım danışmanlığı kapsamında
                        değildir. Yatırım danışmanlığı hizmeti; aracı kurumlar, <br>portföy yönetim şirketleri,
                        mevduat kabul etmeyen bankalar ile müşteri arasında imzalanacak yatırım danışmanlığı
                        sözleşmesi çerçevesinde <br>sunulmaktadır.</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div id="conditions" class="col-12">
                    <ul>
                        <li><a href="">Kullanım Koşulları</a></li>
                        <li><a href="">Gizlilik Politikası</a></li>
                        <li><a href="">Çerez Ayarları</a></li>
                        <li><a href="">Risk Uyarısı</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>
<!--Sayfa yüklenirken önemli elementlerin görünür kalması için görünür olarak gelmeyen elementler sona alındı-->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            <div class="row">
                <div class="col-lg-6 bg-primary">
                    <h4>Bedava <span>Üyelik</span> Oluştur<br>ve;</h4>
                    <ul>
                        <li>
                            <div class="icon-wrap">
                                <div class="feature-icon icon-graph"></div>
                            </div>
                            <span>Anlık veriler</span>
                        </li>
                        <li>
                            <div class="icon-wrap">
                                <div class="feature-icon icon-briefcase"></div>
                            </div>
                            <span>Kişisel Portföy Oluşturma</span>
                        </li>
                        <li>
                            <div class="icon-wrap">
                                <div class="feature-icon icon-oscar"></div>
                            </div>
                            <span>AnalizPRO Akademesi</span>
                        </li>

                    </ul>
                </div>
                <div id="login-buttons" class="col-lg-6 bg-white">

                    <div class="row">
                        <button class="btn btn-brand btn-facebook mb-2">
                            <i class="fab fa-facebook-square"></i>
                            <span>Facebook ile Üye Ol</span>
                        </button>
                        <button class="btn btn-brand btn-google">
                            <i class="fab fa-google"></i>
                            <span>Google ile Üye Ol</span>
                        </button>
                        <div class="col-12 text-center">
                            <p>VEYA</p>
                        </div>
                        <button class="page-switchers register btn btn-brand btn-secondary mb-2 text-dark fw-bold"
                            data-target="register" data-current="login-buttons">
                            <span>ÜYELİK OLUŞTUR</span>
                        </button>
                        <button class="page-switchers login-button btn btn-brand btn-primary" data-target="login"
                            data-current="login-buttons">
                            <span>GİRİŞ YAP</span>
                        </button>
                    </div>
                </div>
                <div id="register" class="col-lg-6 d-none bg-white">
                    <button class="page-switchers btn btn-back" data-target="login-buttons" data-current="register">
                        <i class="far fa-long-arrow-alt-left"></i>
                    </button>
                    <div class="row">
                        <form action="/register" method="POST" class="w-100">
                            <div class="row">
                                <div class="col-sm-6 col-12 mb-2 mb-sm-0">
                                    <div class="input-group ps-0">
                                        <input type="text" class="form-control" placeholder="Adınız"
                                            aria-label="Adınız">
                                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-12">
                                    <div class="input-group pe-0">
                                        <input type="text" class="form-control" placeholder="Soyadınız"
                                            aria-label="Soyadınız">
                                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-12">
                                    <div class="input-group ps-0">
                                        <input type="email" class="form-control" placeholder="Mail adresiniz"
                                            aria-label="Mail adresiniz">
                                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-12">
                                    <div class="input-group ps-0">
                                        <input type="password" class="form-control" placeholder="Şifre"
                                            aria-label="Şifre">
                                        <span class="input-group-text"><i class="fas fa-unlock-alt"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2 mb-4">
                                <div class="col-12">
                                    <div class="input-group ps-0">
                                        <input type="tel" class="form-control" placeholder="Telefon Numarası"
                                            aria-label="Telefon Numarası" pattern="(05|5)[0-9][0-9][1-9]([0-9]){6}"
                                            title="Geçerli bir telefon numarası giriniz. Örn: `0555 555 55 55` gibi">
                                        <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-12">
                                    <p class="termsofservice">Kayıt olarak <a href="">Şartlar ve Koşullar</a> ve <a
                                            href="">Gizlilik
                                            Politikasını</a> ilkelerimizi kabul etmiş olursunuz.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 text-center">
                                    <button type="submit" class="btn btn-secondary w-100 mb-2">E-posta ile Kayıt
                                        Ol</button>
                                    <p class="logintext">Hesabınız var mı? <a class="page-switchers"
                                            href="javascript:void(0)" data-target="login" data-current="register">Giriş
                                            Yapın</a></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div id="login" class="col-lg-6 d-none bg-white">
                    <button class="page-switchers btn btn-back" data-target="login-buttons" data-current="login">
                        <i class="far fa-long-arrow-alt-left"></i>
                    </button>
                    <div class="row">
                        <form action="/login" method="POST" class="w-100">
                            <div class="row">
                                <div class="col-12">
                                    <div class="input-group ps-0">
                                        <input type="email" class="form-control" placeholder="Mail adresiniz"
                                            aria-label="Mail adresiniz">
                                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-12">
                                    <div class="input-group ps-0">
                                        <input type="password" class="form-control" placeholder="Şifre"
                                            aria-label="Şifre">
                                        <span class="input-group-text"><i class="fas fa-unlock-alt"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-12 text-center">
                                    <button type="submit" class="btn btn-secondary w-100 mb-2">Giriş Yap</button>
                                    <p class="logintext">Hesabınız yok mu? <a class="page-switchers"
                                            href="javascript:void(0)" data-target="register" data-current="login">Hesap
                                            Oluşturun</a></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Bildirimlerin küçük ekranlarda nasıl görüneceği görüşülecek-->
<div class="notif notif-info"></div>
<div class="notif notif-price-alarm"></div>






<script src="js/static.js" async></script>
<!--<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js">
</script>
<script src="node_modules/bootstrap/dist/js/bootstrap.js">
</script>-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" async>
</script>

</body>

</html>
<!--Footer sonu-->